@model IEnumerable<SmartCut.Models.Category>

@{
    ViewData["Title"] = "الأصناف";
}

    <h1>الأصناف</h1>

<p>
    <a asp-action="Create">صنف جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                اسم الصنف
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-alt"></i></a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
