@model SmartCut.Models.StockItem

@{
    ViewData["Title"] = "تعديل مادة";
}

<h1>تعديل مادة</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ItemType" class="control-label">نوع المادة</label>
                <select asp-for="ItemType" class="form-control" asp-items="Html.GetEnumSelectList<StockItemType>()"></select>
                <span asp-validation-for="ItemType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">الصنف</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label">الطول</label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label">العرض</label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hardness" class="control-label">القساوة</label>
                <select asp-for="Hardness" class="form-control" asp-items="Html.GetEnumSelectList<Hardness>()"></select>
                <span asp-validation-for="Hardness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label">الوزن كغ</label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gramage" class="control-label">غراماج غرام\م²</label>
                <input asp-for="Gramage" class="form-control" />
                <span asp-validation-for="Gramage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> متوفر
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ShipmentNo" class="control-label">رقم الشحنة</label>
                <input asp-for="ShipmentNo" class="form-control" />
                <span asp-validation-for="ShipmentNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">ملاحظة</label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>


            $(function () {
                $("#ItemType").change(function (e) {
                    handleItemTypeSelection();
                });

                handleItemTypeSelection();

            });
    </script>
}
