@model SmartCut.Models.SettingModel

@{
    ViewData["Title"] = "الإعدادات";
}

<h1>الإعدادات</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MaximumCuttingLengthInCm" class="control-label">الطول الأعظمي للقص - سم</label>
                <input asp-for="MaximumCuttingLengthInCm" class="form-control" />
                <span asp-validation-for="MaximumCuttingLengthInCm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GramageRangePercent" class="control-label">ارتياب غراماج %</label>
                <input asp-for="GramageRangePercent" class="form-control" />
                <span asp-validation-for="GramageRangePercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
